@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2em;
    color: rgb(233, 183, 183);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-right: 270px;
}

.letter{
    color: rgb(233, 183, 183);
}

.navigation a{
    flex-direction: row;
    padding: 4px;
    text-decoration: none;
    color:#359381;
    font-weight: 700;
    border-radius: 20px;
    margin: 0 10px;
}
/*  */
.logo:hover{
    color: rgb(235, 175, 175);
}

.navigation a:hover{
    color: rgb(233, 183, 183);
    /* background: #359381; */
}

/* section one */
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color:white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

/* the images and organizing the images */
.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
/* section one */

/* section two */
.sec{
    margin-top: 100px;
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}